/* General body styling */
body {
  margin: 0;
  background-color: #58a59c; /* Set the background color */
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantaloupe', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* App container to align content nicely */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Logo styling for responsiveness */
.logo {
  width: 50%; /* Adjust width based on screen size */
  max-width: 300px; /* Maximum size */
  min-width: 150px; /* Minimum size */
  height: auto; /* Maintain aspect ratio */
}

/* Improve the look of the timeline container */
.timeline-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%; /* Full width of the container */
}

.timeline-container::-webkit-scrollbar {
  display: none;
}

/* Styling for each entry in the timeline */
.timeline-entry {
  flex: 0 0 auto;
  width: 180px; /* Smaller width to fit more items */
  margin: 0 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  border-radius: 10px;
  padding: 10px;
}

/* Styling images to fit the containers */
.timeline-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/* Additional styling for text in the timeline for better readability */
.timeline-text h3, .timeline-text p {
  margin: 5px 0;
}

/* Styling the buttons */
button {
  padding: 10px 20px;
  border: none;
  background-color: #40776a; /* Darker shade for contrast */
  color: white;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}
button:hover {
  background-color: #305a4e; /* Even darker on hover */
}


.scenario-label {
  display: inline-block;
  padding: 8px 16px;
  margin: 10px;
  background-color: #f8f9fa; /* Light background */
  border: 2px solid #40776a; /* Greenish border */
  color: #333; /* Darker text for better readability */
  border-radius: 15px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.scenario-label:hover {
  background-color: #def; /* Light blue background on hover */
  transform: translateY(-2px); /* Slight lift effect */
}
